{% extends "base.html"%}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/About.css')}}">
{% endblock %}

{%block body%}
        <h1>#YOUR NO.1 ONLINE STORE</h1>
        <div class="all">
            <div class="clear">
			<img src="{{url_for('static', filename='images/hammer2.jpeg')}}">
                <h4>Hammer</h4>
                <p>with strong tip</p>
                <p>KSH 1000</p>
            </div>
            <div class="hack">
			<img src="{{url_for('static', filename='images/hack.jpeg')}}">
                <h4>Hack</h4>
                <p>With strong handle</p>
                <p>KSH 1200</p>
            </div>
            <div class="imge3">
			<img src="{{url_for('static', filename='images/hack.jpeg')}}">
                <h4>Hack</h4>
                <p>ksh 4000</p>
            </div>
        </div>
       <div class="position">
        <div class="two">
		  <img src="{{url_for('static', filename='images/handsaw2.jpg')}}" width="225" height="225">
            <h4>handsaw</h4>
            <p>Hand friendly</p>
            <p>KSH 1000</p>

        </div>
        <div class="three">
		  <img src="{{url_for('static', filename='images/ply.jpeg')}}">
            <h4>Soft Handle</h4>
            <p>KSH 450</p>
        </div>
        <div class="imge4">
		  <img src="{{url_for('static', filename='images/hack.jpeg')}}">
            <h4>Hack</h4>
            <p>ksh 4000</p>
        </div>
       </div>
       <footer>
        <div class="foot">
            <p>Copyright  CRM 2022 || &copy all right reserved.</p>
        </div>
       </footer>
{% endblock %}
