{% extends "base.html"%}

{% block head %}  
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
	<script src={{ url_for('static', filename='scripts/Gallery.js') }}"></script>
{% endblock %}


{% block body%}  
    <header class="header">
      <section>
		<a href="#"><img src="{{ url_for('static', filename='images/crm.png')}}" class="logo" width="125px" height="125px"  alt=""></a>
      </section>
      <nav class="navbar">
        <ul>
          <li>
            <a class="Active" href="#Home">HOME</a>
          </li>
          <li>
		    <a class="about" href="{{url_for('about')}}">ABOUT</a>
          </li>
          <li>
		    <a class = "gallery" href="{{url_for('gallery')}}">GALLERY</a>
          </li>
          <li>
            <a href="#order">ORDERS</a>
          </li>
        </ul>
      </nav>
      </header>
      <section class="offer-display">
        <div class="offers">
          <h2>An ecommerce store that value your needs in all your building materials</h2>
          <h1>Christmas Discounts</h1>
          <p>Save more with all our bulding materials</p>
          
        </div>
      </section>
    <h1 class="hard">CRM HARDWARE</h1>
	  
    <section class="items">
      <h2>our top <span>items</span></h2>

        <div class="gallery-content">
          <div class="g-card--1">
		    <img src="{{ url_for('static', filename='images/hack.jpeg')}}" alt="Net Error"width="225" height="225" />
            <h3>Hand saw</h3>
            <p>Ksh 1500</p>
            <a href="#" classs="btn">BUY NOW</a>
          </div>     
          
          <div class="g-card--2">
		    <img src="{{ url_for('static', filename='images/main2.jpg')}}" alt="Net Error" width="225" height="225"/>
            <h3>Hammer</h3>
            <p>Ksh 2000</p>
            <a href="#" classs="btn">BUY NOW</a>
          </div>

         
          <div class="g-card--3">
		    <img src="{{ url_for('static', filename='images/hack.jpeg')}}" alt="Net Error" width="225" height="225"/>
            <h3>pliers</h3>
            <p>Ksh 700</p>
            <a href="#" classs="btn">BUY NOW</a>
          </div>

          <div class="g-card--4">
		    <img src="{{url_for('static', filename='images/main4.jpg')}}" alt="Net Error" width="225" height="225"/>
            <h3>leveller</h3>
            <p>Ksh 650</p>
            <a href="#" classs="btn">BUY NOW</a>
          </div>

          
          <div class="g-card--5">
		    <img src="{{url_for('static', filename='images/hack.jpeg')}}" alt="Net Error" width="225" height="225"/>
            <h3>Hack</h3>
            <p>Ksh 700</p>
            <a href="#" classs="btn">BUY NOW</a>
          </div>

          
          <div class="g-card--6">
		    <img src="{{url_for('static', filename='images/main6.jpeg')}}" alt="Net Error" width="225" height="225"/>
            <h3>wheelbarrow</h3>
            <p>Ksh 700</p>
            <a href="#" classs="btn">BUY NOW</a>
	        </div>
        </div>
    </section>
    <footer>
      <div class="foot">
          <p>Copyright  CRM 2022 || &copy all right reserved.</p>
      </div>
     </footer>
  
{% endblock %}
