{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}">

{% endblock %}
{% block body %}

<header class="header">
      <section>
		<a href="#"><img src="{{ url_for('static', filename='images/crm.png')}}" class="logo" width="125px" height="125px"  alt=""></a>
      </section>
      <nav class="navbar">
        <ul>
          <li>
		    <a class="Active" href="{{url_for('home')}}">HOME</a>
          </li>
          <li>
          </li>
        </ul>
      </nav>
      </header>
			<div class="p-5 mb-4 bg-light rounded-3">
				<div class="container-fluid py-5">
					<h1 class="display-5 fw-bold text-center">Signup Form</h1>
					<form id="form-signin" action="/api/signup" method="POST">
						        <label for="inputName" class="sr-only">First Name</label>
						        <input
							type="name"
							name="inputName"
							id="inputName"
							class="form-control"
							placeholder="First Name"
							required
							autofocus
						/>
						    <label for="inputName" class="sr-only">SurName</label>
							<input
							type="name"
							name="inputName"
							id="inputName"
							class="form-control"
							placeholder="SurName"
							required
							autofocus
						/>

						    <label for="inputEmail" class="sr-only"
							>Email</label
						>
						        <input
							type="email"
							name="inputEmail"
							id="inputEmail"
							class="form-control"
							placeholder="Email"
							required
							autofocus
                       />
					        <label for="inputPhone" class="sr-only">Phone</label>
							<input
							type="text"
							name="inputPhone"
                            id="inputPhone"
							class="form-control"
							placeholder="Phone"
							required
					   />

						        <label for="inputPassword" class="sr-only">Password</label>
						        <input
							type="password"
							name="inputPassword"
							id="inputPassword"
							class="form-control"
							placeholder="Password"
							required
						/>
						                  <button
							class="btn btn-lg btn-primary btn-block"
							type="submit"
						>
							Sign up
						</button>
						      
					</form>
				</div>
			</div>
			        
			<footer class="footer">
				            
				<p>&copy; Company 2023</p>
				        
			</footer>
			    
		</div>
		<script>
			document
				.querySelector("#form-signin")
				.addEventListener("submit", async function (e) {
					e.preventDefault();
					console.log(new URLSearchParams(new FormData(e.target)).toString());
					const res = await fetch("/api/signup", {
						body: new URLSearchParams(new FormData(e.target)).toString(),
						method: "POST",
						headers: {
							"Content-Type": "application/x-www-form-urlencoded",
						},
					});
					console.log(await res.json());
				});
		</script>
{% endblock %}	
